<!-- <app-header></app-header> -->

<!-- <table width='100%' class='form-group mt-5'>
	<tr height='50pt'>
		<td width='40%' align='right'>Request Nature :</td>
		<td width='50%' align='left'>
			<select #moduleName (change)="getModuleRequest(moduleName.value)">
				<option value=''></option>
				<option value='B'>BILLING RELATED ACTIVITIES</option>
				<option value='P'>COLLECTION RELATED ACTIVITIES</option>
				<option value='C'>CONSUMER RELATED ACTIVITIES</option>
				<option value='R'>CSC REQUEST RELATED ACTIVITIES</option>
				<option value='D'>DND RELATED ACTIVITIES</option>
				<option value='M'>METERING RELATED ACTIVITIES</option>
				<option value='N'>NEW CONNECTION RELATED ACTIVITIES</option>
			</select>
		</td>
	</tr>
	<tr>
		<td width='40%' align='right'>Selected Value :</td>
		<td width='50%' align='left'><input type="text" readonly #textval value={{result}}
				(blur)="onBlur(textval.value)" /></td>
	</tr>
</table> -->

<!-- <div align="center">
	<app-login></app-login>
	<app-signup></app-signup>
</div> -->

<!-- <owns-app-login></owns-app-login> -->

<!-- <app-loops></app-loops> -->
<!-- <app-form></app-form> -->
<!-- <app-materials></app-materials> -->
<!-- <app-two-way-binding></app-two-way-binding> -->
<!-- <app-pipe></app-pipe> -->
<!-- <app-reactiveform></app-reactiveform> -->
<router-outlet></router-outlet>
